body {
  padding: 0%;
  margin: 0%;
  /* font-family: Space Mono; */
  /* font-family: Inconsolata; */
  font-family: "Space Mono", monospace;
  font-family: "Space Mono", monospace;
  width: 100%;
}

.navbar {
  padding: 2% 4%;
  width: 100%;
}

.navbar-brand {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
}

.row {
  margin-top: 5rem;
}
/* img{
    height: 50%;
    width: 50%;
} */

/* h1{
    font-weight: 20%;
} */

h1 {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  padding-bottom: 2rem;
}

p {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  padding-bottom: 3rem;
  padding-right: 17rem;
}

button {
  padding: 1rem 1rem;
  margin-bottom: 2rem;
}

footer{
    text-align: center;
}

@media only screen and (max-width: 740px) {
  body {
      padding-left: 0.3rem;
  }
  .row {
    margin-top: 3rem;
    /* text-align: center; */
  }

  h1 {
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -0.05em;
    padding-bottom: 1.5rem;
  }
  p {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
    padding-bottom: 1.5rem;
    padding-right: 0rem;
  }
}
